

body,html{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

*{
    box-sizing: border-box;
}



.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }



  /******************** Navbar **********************/

  .navbar{
    padding: 1px 0!important;

    .dropdown-item{
      &:hover {
        color: #fff;
        background-color: var(--bs-primary)
      }
    }

    .nav-item{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

        .nav-link{
          padding: 5px 20px !important;
          display: flex;
          align-items: center;
          font-weight: 500;
          font-size: 14px;
          color: rgb(255, 255, 255, 80%);

            .icon_nav{
              width: 21px;
              height: auto;
              padding-right: 3px;
            }
        }
    }
  }
  .bs-danger-bg-subtle{
    background-color: var(--bs-danger-bg-subtle);
  }



.navbar{
  
}




  /************************** login Page *****************************/

  .login_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 583px;
    background-color: #d5d5d5;
  }
  .login-card {
    width: 64%;
    height: auto;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;

   .welcome-section{
      width: 100%;
      height: 100%;
      display: flex;
      
        img{
          min-width: 100%;
          height: auto;
    
        }
    
    }
    
    .login-section{
      width: 100%;
      height: auto;
      padding: 20px 10px;
      
      h2{
        font-size: 22px;
        margin-top: 25px;
      }

      .card_wrap{
        width: 90%;
        height: auto;
        padding: 20px;
        margin: 0 auto;

        .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root{
          border-radius: 40px;
        
        }

      .login_btn{
        padding: 10px 30px;
        margin-top: 20px;
        border-radius: 40px;
        background: hsla(346, 100%, 68%, 1);

        background: linear-gradient(90deg, hsla(346, 100%, 68%, 1) 0%, hsla(31, 96%, 55%, 1) 100%);
        
        background: -moz-linear-gradient(90deg, hsla(346, 100%, 68%, 1) 0%, hsla(31, 96%, 55%, 1) 100%);
        
        background: -webkit-linear-gradient(90deg, hsla(346, 100%, 68%, 1) 0%, hsla(31, 96%, 55%, 1) 100%);
      }

      }
     
    }
    
}


/********************** Hero section ******************************/
.hero-section {
  width: 100%;
  height: 100%;
  padding: 23px 0;
  min-height: 549px;
  display: flex;
  align-items: center;
  justify-content: center;  

  .homeIcons{
      width: 31px; 
      height: 30px;
      padding-right: 4px;
      
  }

  h2{
    font-size: 38px;
  }

  p{
    color: #939393;
    margin-bottom: 0;
  }
 
}









// Media query
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
 
  .login_wrapper{

    width: 100%;
    height: 100%;

    .login-card{
      width: 100%;
  
      .welcome-section{
        img{
          width: 100%;
          max-height: 300px;
        }
      }
    }
  }

  .navbar{
    padding: 10px 0!important;

  .nav-item {
      padding: 10px 0;
      margin-bottom: 7px;
  }
  }
  
  .navbar-nav {
    margin-top: 10px;
}

.hero-section {
  padding: 55px 0;
}


}









